
.bg-dark{
    background-color: #000000 !important;
}
.navbar-light .navbar-nav .nav-link, .navbar-brand{
    color: #FFFFFF !important;
}
.main-content{
    min-height: 75vh;
    max-height: 75vh;
}

.page-content{
    margin-top: 56px;
}
