
.bg-dark{
    background-color: #000000 !important;
}
.navbar-brand{
    color: #000000 !important;
}
.main-content{
    min-height: 89.8vh;
    max-height: 89.8vh;
}
body{
    margin-top: 39px;
}

.bg-green{
  background-color: #00ada8 !important;
}

.bg-red{
  background-color: #eb5c52 !important;
}
.text-green{
  color: #00ada8 !important;
}
.text-yellow{
  color: #ffc600 !important;
}
.text-red{
  color: #eb5c52 !important;
}
/*Red eb5c52*/
/*Green 00ada8*/
.bg-dark-sec{
  background-color: #2d2d2d !important;
}
.border-top-green {
    border-top: 10px solid #00ada8 !important;
}
.border-bottom-green {
    border-bottom: 1px solid #00ada8 !important;
}

.border-bottom-dotted-green {
    border: 1px dashed #00ada8 !important;
}
.border-bottom-red {
    border-bottom: 1px solid #eb5c52 !important;
}
.border-bottom-yellow-3 {
  border-bottom: 3px solid #ffca56;
}
.border-top-yellow-3 {
  border-top: 3px solid #ffca56;
}
.footer-info a {
    color: #fff;
}
ul.call_contact li {
    margin-bottom: 9px;
}
.footer-info a:hover {
    color: #ffca56;
}

ul li {
    list-style: none;

}
footer ul li a {
    line-height: 17px;
    font-size: 13px;
    color: #fff;
}
a:hover{
  text-decoration: none;
}
.intcap{
  text-transform: capitalize;
}

.cap{
  text-transform: uppercase;
}
.icon-size-19{
  font-size: 19px !important;
}
.shadow{
  -webkit-box-shadow: 10px 13px 5px 0px rgba(0,0,0,0.67) !important;
-moz-box-shadow: 10px 13px 5px 0px rgba(0,0,0,0.67) !important;
box-shadow: 10px 13px 5px 0px rgba(0,0,0,0.67) !important;
}

.btn-success {
  color: #fff;
  background-color: #00ada8;
  border-color: #00ada8;
}

.btn-success:hover {
  color: #fff;
  background-color: #05b8b2;
  border-color: #05b8b2;
}

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem #05b8b2;
}

.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #00ada8;
  border-color: #00ada8;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #00ada8;
}



.nav .nav-item .nav-link{
    color: #424242;
}

.nav .nav-item a .nav-link .active{
    color: #ec544a;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link,.navbar-light .navbar-nav .nav-link{

  font-weight: bolder !important;
}


.with-errors{
    color: #990000;
    font-weight: bold;
}
