
.bg-dark{
    background-color: #000000 !important;
}
.main-content{
    min-height: 89.8vh;
    max-height: 89.8vh;
}

.nav .nav-item .nav-link{
    color: #424242;
}

.nav .nav-item a .nav-link .active{
    color: #ec544a;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link,.navbar-light .navbar-nav .nav-link{

  font-weight: bolder !important;
}
#tabs{
	background: #007b5e;
    color: #424242 !important;
}

#nav-tab .nav-tabs .nav-link.active {
    color: #00ada8 !important;
    background-color: transparent;
    border-color: transparent transparent #00ada8;
    border-bottom: 2px solid !important;
    font-size: 18px;
    font-weight: bold;
}
#nav-tab .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #424242 !important;
    font-size: 18px;
    font-weight: bold;
}

/*What is Filmboard start here*/

.filmboardCenter{
		width:75%;
		margin:0 auto;
		position:relative;
	}
	.filmboardCenter:before{
		position:absolute;
		left:-62px;
		content:'';
		top:200px;
		background:url('../images/filmboard-arrow.png');
		width:62px;
		height:545px;
	}
	.filmboardCenter:after{
		position:absolute;
		right:-62px;
		content:'';
		top:200px;
		background:url('../images/filmboard-arrow-r.png');
		width:62px;
		height:545px;
	}
	.videoDiv{
		border:1px solid #11aea8;
		padding:10px;
	}
	.videoDiv .videoInner{
		border:1px solid #bebfc2;
		background-color:#f0f1f1;
	}
	.filmboardMid{
		width:85%;
		margin:0 auto;
		background-color:#808184;
	}
	.filmboardMid h3{
		color:#fff;
		text-align:center;
		margin:0;
		padding:25px 0px;
	}
	.filmboardLast{
		background-color:#e7e8e9;
		padding:10px;
	}
	.filmboardLast .inner-last{
		background-color: #fff;
	    padding: 35px 60px 20px 60px;
	    text-align: justify;
	    position: relative;
	    margin: 0px 0px 10px 0px;
	   /* word-break: break-all;*/
		}
	.title-ribbon{
		background:#ddd;
		position:absolute;
		padding:0px 20px;
		top:20px;
		left:-32px;

	}
	.title-ribbon h3{
		padding:0;
		margin:0;
		font-style:normal;
		font-size: 21px;
		position:relative;
		color:#fff;
	}
	.ribbon-lab-y{background-color:#fecf68;}
	.ribbon-lab-y h3{color:#686868;}
	.ribbon-lab-y:before{
		position:absolute;
		content:'';
		right: -24px;
		top: 0px;
		border-style: solid;
		border-left: 30px solid transparent;
		border-right: 23px solid transparent;
		border-top: 23px solid #fecf68;
		color:#fff;
		z-index: 1;
	}
	.ribbon-lab-y:after{
		position:absolute;
		content:'';
		left: 0px;
		top: 23px;
		border-style: solid;
		border-left: 22px solid transparent;
		border-right: 0px solid #bd832b;
		border-top: 21px solid #bd832b;
		color:transparent;
	}
	.ribbon-lab-t{background-color:#11aea8;}
	.ribbon-lab-t h3{color:#fff;}
	.ribbon-lab-t:before{
		position:absolute;
		content:'';
		right: -24px;
		top: 0px;
		border-style: solid;
		border-left: 30px solid transparent;
		border-right: 23px solid transparent;
		border-top: 23px solid #11aea8;
		color:#fff;
		z-index: 1;
	}
	.ribbon-lab-t:after{
		position:absolute;
		content:'';
		left: 0px;
		top: 0px;
		top: 23px;
		border-style: solid;
		border-left: 22px solid transparent;
		border-right: 0px solid #0c6c67;
		border-top: 21px solid #0c6c67;
		color:transparent;
	}
	.filmboardLast .inner-last:last-child{margin:0px;}
	.filmboardAft-pic{
		width:51px;
		margin:0 auto;
		padding:0px 0px 20px 0px;
	}
	.filmboardAft-pic img{
		text-align:center;
	}
	.filmboardAft{
		padding:5px;
	}
	.filmboardAft li{
		position:relative;
		list-style:none;
		width:25%;
		padding:0 20px;
		display:inline-block;
		float: left;
		margin-top:15px;
		min-height:225px;
	}
	.filmboardAft li:before{
		content:'';
		position:absolute;
		right:0px;
		top:75px;
		background-color:#a7a9ac;
		width:1px;
		height:140px;
	}
	.filmboardAft li:nth-child(4):before, .filmboardAft li:nth-child(8):before, .filmboardAft li:nth-child(12):before, .filmboardAft li:nth-child(16):before{
		content: '';
		display:none;
	}
	.bg-none:before{
		content:'';
		background-color:#fff;
	}
.bg-dark-blue{
  background-color: #3b5998 !important;
}
.tag-box {
    background:
#00ada8;
color:
    #ffd068;
    padding: 0px 10px;
    font-size: 30px;
    font-weight: bold;
}
.spe-text {
    padding-bottom: 10px;
}
