
body{
    margin-top: 57px !important;
}
main{
  margin-top: 0px !important;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
  color: #FFFFFF !important;
}


.progress {
    background-color:
    rgba(0,0,0,.125);
    height: 2px;
    margin: 5px 0;
}
.progress {
    box-shadow: none;
    border-radius: 1px;
}
.progress {
    display: -ms-flexbox;
    display: flex;
    height: 0.25rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
    box-shadow: inset 0 .1rem .1rem rgba(0,0,0,.1);
}
.bg-gradient-info {
    background:
#17a2b8 linear-gradient(180deg,#3ab0c3,
    #17a2b8) repeat-x !important;
}
.bg-gradient-info {
    color:
    #fff;
}
.info-box {
    box-shadow: 0 0 1px
rgba(0,0,0,.125),0 1px 3px
    rgba(0,0,0,.2);
    border-radius: .25rem;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: .2rem;
    position: relative;
}
.info-box .info-box-icon {
    border-radius: .25rem;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.875rem;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 40px;
}

.info-box .info-box-content {
    -ms-flex: 1;
    flex: 1;
    padding: 5px 10px;
}
