.default-theme .sidebar-wrapper {
  background-color: #1d1d1d; }
  .default-theme .sidebar-wrapper .sidebar-item {
    border-top: 1px solid #2b2b2b; }
    .default-theme .sidebar-wrapper .sidebar-item:first-child {
      border-top: none; }
  .default-theme .sidebar-wrapper a:not(.dropdown-item),
  .default-theme .sidebar-wrapper .sidebar-header,
  .default-theme .sidebar-wrapper .sidebar-search input,
  .default-theme .sidebar-wrapper .sidebar-search i {
    color: #adadad; }
  .default-theme .sidebar-wrapper a:not(.dropdown-item):hover,
  .default-theme .sidebar-wrapper .sidebar-menu li.active > a {
    color: #d8d8d8; }
  .default-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .default-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #2b2b2b;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: 1px; }
  .default-theme .sidebar-wrapper .sidebar-menu a:hover i,
  .default-theme .sidebar-wrapper .sidebar-menu a:hover:before,
  .default-theme .sidebar-wrapper .sidebar-menu li.active a i {
    color: #22ff16; }
  .default-theme .sidebar-wrapper .sidebar-menu ul li a i {
    background-color: #2b2b2b; }
  .default-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
    background-color: #2b2b2b; }
  .default-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #868686; }
  .default-theme .sidebar-wrapper .sidebar-footer {
    background-color: #2b2b2b;
    -webkit-box-shadow: 0px -1px 5px #1d1d1d;
    box-shadow: 0px -1px 5px #1d1d1d;
    border-top: 1px solid #2b2b2b; }
  .default-theme .sidebar-wrapper .sidebar-footer > div:first-child {
    border-left: none; }
  .default-theme .sidebar-wrapper .sidebar-footer > div:last-child {
    border-right: none; }

.default-theme.toggled #close-sidebar {
  color: #adadad; }

.default-theme.toggled #close-sidebar:hover {
  color: #d8d8d8; }

.default-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.default-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.default-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #525965;
  border-radius: 0; }

.default-theme .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent; }

.default-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(42, 42, 42, 0.9); }

.default-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item),
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-header,
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-search input,
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-search i {
  color: #c7c7c7; }

.default-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item):hover,
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-menu li.active > a {
  color: #22ff16; }

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-item {
  border-color: #454545; }

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: rgba(81, 81, 81, 0.5); }

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: rgba(81, 81, 81, 0.5); }

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: rgba(81, 81, 81, 0.5); }

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-footer {
  background-color: rgba(56, 56, 56, 0.5);
  -webkit-box-shadow: 0px -1px 5px rgba(29, 29, 29, 0.8);
  box-shadow: 0px -1px 5px rgba(29, 29, 29, 0.8);
  border-top: 1px solid #383838; }

.chiller-theme .sidebar-wrapper {
  background-color: #2A2C2B; }
  .chiller-theme .sidebar-wrapper .sidebar-item {
    border-top: 1px solid #374140; }
    .chiller-theme .sidebar-wrapper .sidebar-item:first-child {
      border-top: none; }
  .chiller-theme .sidebar-wrapper a:not(.dropdown-item),
  .chiller-theme .sidebar-wrapper .sidebar-header,
  .chiller-theme .sidebar-wrapper .sidebar-search input,
  .chiller-theme .sidebar-wrapper .sidebar-search i {
    color: #D9CB9E; }
  .chiller-theme .sidebar-wrapper a:not(.dropdown-item):hover,
  .chiller-theme .sidebar-wrapper .sidebar-menu li.active > a {
    color: #ffe79a; }
  .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #374140;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: 1px; }
  .chiller-theme .sidebar-wrapper .sidebar-menu a:hover i,
  .chiller-theme .sidebar-wrapper .sidebar-menu a:hover:before,
  .chiller-theme .sidebar-wrapper .sidebar-menu li.active a i {
    color: #ffbe00; }
  .chiller-theme .sidebar-wrapper .sidebar-menu ul li a i {
    background-color: #374140; }
  .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
    background-color: #374140; }
  .chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #a29464; }
  .chiller-theme .sidebar-wrapper .sidebar-footer {
    background-color: #374140;
    -webkit-box-shadow: 0px -1px 5px #2A2C2B;
    box-shadow: 0px -1px 5px #2A2C2B;
    border-top: 1px solid #374140; }
  .chiller-theme .sidebar-wrapper .sidebar-footer > div:first-child {
    border-left: none; }
  .chiller-theme .sidebar-wrapper .sidebar-footer > div:last-child {
    border-right: none; }

.chiller-theme.toggled #close-sidebar {
  color: #D9CB9E; }

.chiller-theme.toggled #close-sidebar:hover {
  color: #ffe79a; }

.chiller-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.chiller-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.chiller-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #525965;
  border-radius: 0; }

.chiller-theme .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent; }

.chiller-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(54, 57, 56, 0.9); }

.chiller-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item),
.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-header,
.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-search input,
.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-search i {
  color: #e7dfc3; }

.chiller-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item):hover,
.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-menu li.active > a {
  color: #fff3cd; }

.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-item {
  border-color: #4e5d5b; }

.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: rgba(90, 106, 105, 0.5); }

.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: rgba(90, 106, 105, 0.5); }

.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: rgba(90, 106, 105, 0.5); }

.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-footer {
  background-color: rgba(67, 79, 78, 0.5);
  -webkit-box-shadow: 0px -1px 5px rgba(42, 44, 43, 0.8);
  box-shadow: 0px -1px 5px rgba(42, 44, 43, 0.8);
  border-top: 1px solid #434f4e; }

.legacy-theme .sidebar-wrapper {
  background-color: #1e2229; }
  .legacy-theme .sidebar-wrapper .sidebar-item {
    border-top: 1px solid #2e333c; }
    .legacy-theme .sidebar-wrapper .sidebar-item:first-child {
      border-top: none; }
  .legacy-theme .sidebar-wrapper a:not(.dropdown-item),
  .legacy-theme .sidebar-wrapper .sidebar-header,
  .legacy-theme .sidebar-wrapper .sidebar-search input,
  .legacy-theme .sidebar-wrapper .sidebar-search i {
    color: #818896; }
  .legacy-theme .sidebar-wrapper a:not(.dropdown-item):hover,
  .legacy-theme .sidebar-wrapper .sidebar-menu li.active > a {
    color: #b8bfce; }
  .legacy-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .legacy-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #2e333c;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: 1px; }
  .legacy-theme .sidebar-wrapper .sidebar-menu a:hover i,
  .legacy-theme .sidebar-wrapper .sidebar-menu a:hover:before,
  .legacy-theme .sidebar-wrapper .sidebar-menu li.active a i {
    color: #16c7ff; }
  .legacy-theme .sidebar-wrapper .sidebar-menu ul li a i {
    background-color: #2e333c; }
  .legacy-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
    background-color: #2e333c; }
  .legacy-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #646e80; }
  .legacy-theme .sidebar-wrapper .sidebar-footer {
    background-color: #22262d;
    -webkit-box-shadow: 0px -1px 5px #16191f;
    box-shadow: 0px -1px 5px #16191f;
    border-top: 1px solid #2e333c; }
  .legacy-theme .sidebar-wrapper .sidebar-footer > div:first-child {
    border-left: none; }
  .legacy-theme .sidebar-wrapper .sidebar-footer > div:last-child {
    border-right: none; }

.legacy-theme.toggled #close-sidebar {
  color: #818896; }

.legacy-theme.toggled #close-sidebar:hover {
  color: #b8bfce; }

.legacy-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.legacy-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.legacy-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #525965;
  border-radius: 0; }

.legacy-theme .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent; }

.legacy-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(41, 46, 56, 0.9); }

.legacy-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item),
.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-header,
.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-search input,
.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-search i {
  color: #9da2ad; }

.legacy-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item):hover,
.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-menu li.active > a {
  color: #d6dae3; }

.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-item {
  border-color: #444c59; }

.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: rgba(79, 88, 103, 0.5); }

.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: rgba(79, 88, 103, 0.5); }

.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: rgba(79, 88, 103, 0.5); }

.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-footer {
  background-color: rgba(45, 50, 60, 0.5);
  -webkit-box-shadow: 0px -1px 5px rgba(22, 25, 31, 0.8);
  box-shadow: 0px -1px 5px rgba(22, 25, 31, 0.8);
  border-top: 1px solid #393f4a; }

.cool-theme .sidebar-wrapper {
  background-color: #38373D; }
  .cool-theme .sidebar-wrapper .sidebar-item {
    border-top: 1px solid #46454c; }
    .cool-theme .sidebar-wrapper .sidebar-item:first-child {
      border-top: none; }
  .cool-theme .sidebar-wrapper a:not(.dropdown-item),
  .cool-theme .sidebar-wrapper .sidebar-header,
  .cool-theme .sidebar-wrapper .sidebar-search input,
  .cool-theme .sidebar-wrapper .sidebar-search i {
    color: #918F9E; }
  .cool-theme .sidebar-wrapper a:not(.dropdown-item):hover,
  .cool-theme .sidebar-wrapper .sidebar-menu li.active > a {
    color: #b3b8c1; }
  .cool-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .cool-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #46454c;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: 1px; }
  .cool-theme .sidebar-wrapper .sidebar-menu a:hover i,
  .cool-theme .sidebar-wrapper .sidebar-menu a:hover:before,
  .cool-theme .sidebar-wrapper .sidebar-menu li.active a i {
    color: #fe6fff; }
  .cool-theme .sidebar-wrapper .sidebar-menu ul li a i {
    background-color: #46454c; }
  .cool-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
    background-color: #46454c; }
  .cool-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #747479; }
  .cool-theme .sidebar-wrapper .sidebar-footer {
    background-color: #414046;
    -webkit-box-shadow: 0px -1px 5px #2a292d;
    box-shadow: 0px -1px 5px #2a292d;
    border-top: 1px solid #46454c; }
  .cool-theme .sidebar-wrapper .sidebar-footer > div:first-child {
    border-left: none; }
  .cool-theme .sidebar-wrapper .sidebar-footer > div:last-child {
    border-right: none; }

.cool-theme.toggled #close-sidebar {
  color: #918F9E; }

.cool-theme.toggled #close-sidebar:hover {
  color: #b3b8c1; }

.cool-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.cool-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.cool-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #918F9E;
  border-radius: 0; }

.cool-theme .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent; }

.cool-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(68, 67, 74, 0.9); }

.cool-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item),
.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-header,
.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-search input,
.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-search i {
  color: #acaab6; }

.cool-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item):hover,
.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-menu li.active > a {
  color: #cfd2d8; }

.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-item {
  border-color: #5f5d67; }

.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: rgba(107, 105, 116, 0.5); }

.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: rgba(107, 105, 116, 0.5); }

.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: rgba(107, 105, 116, 0.5); }

.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-footer {
  background-color: rgba(77, 76, 83, 0.5);
  -webkit-box-shadow: 0px -1px 5px rgba(42, 41, 45, 0.8);
  box-shadow: 0px -1px 5px rgba(42, 41, 45, 0.8);
  border-top: 1px solid #525159; }

.ice-theme .sidebar-wrapper {
  background-color: #2B3A42; }
  .ice-theme .sidebar-wrapper .sidebar-item {
    border-top: 1px solid #3a4d56; }
    .ice-theme .sidebar-wrapper .sidebar-item:first-child {
      border-top: none; }
  .ice-theme .sidebar-wrapper a:not(.dropdown-item),
  .ice-theme .sidebar-wrapper .sidebar-header,
  .ice-theme .sidebar-wrapper .sidebar-search input,
  .ice-theme .sidebar-wrapper .sidebar-search i {
    color: #9eb7c3; }
  .ice-theme .sidebar-wrapper a:not(.dropdown-item):hover,
  .ice-theme .sidebar-wrapper .sidebar-menu li.active > a {
    color: #EFEFEF; }
  .ice-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .ice-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #3a4d56;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: 1px; }
  .ice-theme .sidebar-wrapper .sidebar-menu a:hover i,
  .ice-theme .sidebar-wrapper .sidebar-menu a:hover:before,
  .ice-theme .sidebar-wrapper .sidebar-menu li.active a i {
    color: #38fbc7; }
  .ice-theme .sidebar-wrapper .sidebar-menu ul li a i {
    background-color: #3a4d56; }
  .ice-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
    background-color: #3a4d56; }
  .ice-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #6c7b88; }
  .ice-theme .sidebar-wrapper .sidebar-footer {
    background-color: #2f3f48;
    -webkit-box-shadow: 0px -1px 5px #2b3a42;
    box-shadow: 0px -1px 5px #2b3a42;
    border-top: 1px solid #3a4d56; }
  .ice-theme .sidebar-wrapper .sidebar-footer > div:first-child {
    border-left: none; }
  .ice-theme .sidebar-wrapper .sidebar-footer > div:last-child {
    border-right: none; }

.ice-theme.toggled #close-sidebar {
  color: #9eb7c3; }

.ice-theme.toggled #close-sidebar:hover {
  color: #EFEFEF; }

.ice-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.ice-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.ice-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #8998a5;
  border-radius: 0; }

.ice-theme .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent; }

.ice-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(53, 72, 81, 0.9); }

.ice-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item),
.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-header,
.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-search input,
.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-search i {
  color: #beced6; }

.ice-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item):hover,
.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-menu li.active > a {
  color: white; }

.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-item {
  border-color: #4f6874; }

.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: rgba(89, 118, 132, 0.5); }

.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: rgba(89, 118, 132, 0.5); }

.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: rgba(89, 118, 132, 0.5); }

.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-footer {
  background-color: rgba(57, 77, 87, 0.5);
  -webkit-box-shadow: 0px -1px 5px rgba(43, 58, 66, 0.8);
  box-shadow: 0px -1px 5px rgba(43, 58, 66, 0.8);
  border-top: 1px solid #445b65; }

.light-theme .sidebar-wrapper {
  background-color: #ececec; }
  .light-theme .sidebar-wrapper .sidebar-item {
    border-top: 1px solid #f9f9f9; }
    .light-theme .sidebar-wrapper .sidebar-item:first-child {
      border-top: none; }
  .light-theme .sidebar-wrapper a:not(.dropdown-item),
  .light-theme .sidebar-wrapper .sidebar-header,
  .light-theme .sidebar-wrapper .sidebar-search input,
  .light-theme .sidebar-wrapper .sidebar-search i {
    color: #74726E; }
  .light-theme .sidebar-wrapper a:not(.dropdown-item):hover,
  .light-theme .sidebar-wrapper .sidebar-menu li.active > a {
    color: #424242; }
  .light-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .light-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #f9f9f9;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: 1px; }
  .light-theme .sidebar-wrapper .sidebar-menu a:hover i,
  .light-theme .sidebar-wrapper .sidebar-menu a:hover:before,
  .light-theme .sidebar-wrapper .sidebar-menu li.active a i {
    color: #00a9fd; }
  .light-theme .sidebar-wrapper .sidebar-menu ul li a i {
    background-color: #f9f9f9; }
  .light-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
    background-color: #f9f9f9; }
  .light-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #6c7b88; }
  .light-theme .sidebar-wrapper .sidebar-footer {
    background-color: #f9f9f9;
    -webkit-box-shadow: 0px -1px 5px #ececec;
    box-shadow: 0px -1px 5px #ececec;
    border-top: 1px solid #f9f9f9; }
  .light-theme .sidebar-wrapper .sidebar-footer > div:first-child {
    border-left: none; }
  .light-theme .sidebar-wrapper .sidebar-footer > div:last-child {
    border-right: none; }

.light-theme.toggled #close-sidebar {
  color: #74726E; }

.light-theme.toggled #close-sidebar:hover {
  color: #424242; }

.light-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.light-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.light-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #A4A29E;
  border-radius: 0; }

.light-theme .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent; }

.light-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(249, 249, 249, 0.9); }

.light-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item),
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-header,
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-search input,
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-search i {
  color: #8e8c87; }

.light-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item):hover,
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-menu li.active > a {
  color: #5c5c5c; }

.light-theme.sidebar-bg .sidebar-wrapper .sidebar-item {
  border-color: white; }

.light-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: rgba(255, 255, 255, 0.5); }

.light-theme.sidebar-bg .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: rgba(255, 255, 255, 0.5); }

.light-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: rgba(255, 255, 255, 0.5); }

.light-theme.sidebar-bg .sidebar-wrapper .sidebar-footer {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px -1px 5px rgba(236, 236, 236, 0.8);
  box-shadow: 0px -1px 5px rgba(236, 236, 236, 0.8);
  border-top: 1px solid white; }
